html {
  @apply text-base;
}

body {
  // @apply bg-body font-primary font-normal leading-relaxed text-text dark:bg-darkmode-body dark:text-darkmode-text;
  @apply bg-body leading-relaxed text-black dark:bg-darkmode-body dark:text-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold leading-tight text-dark dark:text-darkmode-dark;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4 font-medium;
}

h5,
.h5 {
  @apply text-h5 font-medium;
}

h6,
.h6 {
  @apply text-h6 font-medium;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

@font-face {
  font-family: Virgil;
  src: url(/fonts/excalidraw/Virgil.woff2);
}

@font-face {
  font-family: Cascadia;
  src: url(/fonts/excalidraw/Cascadia.woff2);
}

@font-face {
  font-family: Birzia;
  src: url(/fonts/Birzia-Medium.woff2)
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_AMS;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_AMS-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Caligraphic;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_Caligraphic-Bold.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Caligraphic;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Caligraphic-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Fraktur;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_Fraktur-Bold.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Fraktur;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Fraktur-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Main;
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_Main-BoldItalic.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Main;
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_Main-Bold.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Main;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Main-Italic.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Main;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Main-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Math;
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_Math-BoldItalic.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Math;
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Math-Italic.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/mathlive/KaTeX_SansSerif-Bold.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: "KaTeX_SansSerif";
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_SansSerif-Italic.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: "KaTeX_SansSerif";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_SansSerif-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Script;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Script-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Size1;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Size1-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Size2;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Size2-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Size3;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Size3-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Size4;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Size4-Regular.woff2) format("woff2")
}

@font-face {
  font-display: "swap";
  font-family: KaTeX_Typewriter;
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/mathlive/KaTeX_Typewriter-Regular.woff2) format("woff2")
}

:root {
  --ML__static-fonts: true
}